body {
    background-color: #c3e7ef;
}

.btn-publish {
    float: right;
    margin: 15px;
}
.main {
    background-color: white;
    margin: 30px;
}

.media-object{
    width: 40px;
    height: 40px;
}
.text-desc{
    font-size: 12px;
    font-weight: normal;
    color: #999;
}

.profile .section{
    margin-top: 15px;
}

.community-menu{
    color:#999;
}