body {
    background-color: #c3e7ef;
}

.btn-publish {
    float: right;
    margin: 15px;
}

.main {
    background-color: white;
    margin: 30px;
}

.media-object {
    width: 40px;
    height: 40px;
}

.media-body {
    padding-top: 10px;
}

.text-desc {
    font-size: 12px;
    font-weight: normal;
    color: #999;
}

.profile .section {
    margin-top: 15px;
}

.community-menu {
    color: #999;
    /*display: block;*/
    font-size: 13px;
    margin-bottom: 15px;
    margin-right: 15px;
}

.jumbotron {
    margin: 50px;
}

.comment{
    margin: 10px 0;
}

.sub-comments{
    border-radius: 5px;
    margin-top:10px;
    border:1px solid #eee;
    padding-top: 15px;
    margin-bottom: 10px;
}

.sub-comments .btn{
    margin: 10px 0;
}

.btn-comment{
    float: right;
    margin-bottom: 10px;
}

.comments{
    padding-bottom: 5px;
    margin-bottom: 15px;
    border-bottom: 1px solid #eee;
}

.comment-sp{
    margin-top: 0;
}

.menu{
    color: #999;
    margin-top: 15px;
}

.menu .icon{
    margin-right: 6px;
    font-size: 15px;
    cursor:pointer;
}

.menu .active{
    color: #2b669a;
}

.menu .icon:hover{
    color: #2b669a;
}




















